<div >
  <p>Assessment: </p>
  <p>{{caseDetails().id}}</p>
  <p>{{caseDetails().name}}</p>
  <p>{{caseDetails().caseAssessment.id}}</p>
  <p>{{caseDetails().caseAssessment.assessmentDate}}</p>
  <p>{{caseDetails().caseAssessment.assessmentResults[0].assessmentItem.title}}</p>
  <p>{{caseDetails().caseAssessment.assessmentResults[0].assessmentItem.preamble}}</p>
  <p>{{caseDetails().caseAssessment.assessmentResults[0].assessmentItem.assistingText}}</p>
  <p>{{caseDetails().caseAssessment.assessmentResults[0].assessmentItem.assessmentSection.name}}</p>
  <p>{{caseDetails().caseAssessment.assessmentResults[0].justification}}</p>
  <p>{{caseDetails().caseAssessment.assessmentResults[0].score}}</p>
</div>
