
<div class="container bg-dark-subtle text-dark mt-5 mb-5 pb-2 rounded-1">
  <h2 class="p-2">Documents</h2>
  <hr>
  <a class="btn btn-secondary col-2 mb-3">Upload file</a>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">File</th>
      <th scope="col">Description</th>
      <th scope="col">Uploaded</th>
      <th scope="col">Document Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-2"><a>filename.txt</a></td>
      <td class="col-3"> <input type="text" class="form-control"></td>
      <td class="col-2"><span>2024-12-11</span></td>
      <td class="col-4"><span>Budget details</span></td>
    </tr>
    </tbody>
  </table>
</div>
