<aside>
  <div class="min-vh-100 p-4 bg-dark-subtle text-dark">
    <section>
      <p>Case Id: 1</p>
      <hr>
    </section>
    <section>
      <ul class="list-unstyled">
        <li class= "border-bottom p-2"><a class="nav-link" href="#">Overview</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" href="#">Organization Details</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" href="#">Application</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" href="#">Budget</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" href="#">Assessment</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" href="#">Decision</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" href="#">History</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" href="#">Documents</a></li>
      </ul>
    </section>
    <section class="mt-5">
      <div>
        <p>Status: Awaiting decision</p>
        <p>Decision Type: Application approval</p>
      </div>
    </section>
  </div>
</aside>
