<aside>
  <div class="p-4 text-dark min-vh-100">
    <section>
      <p>Case Id: {{caseDetails?.id}}</p>
      <hr>
    </section>
    <section>
      <ul class="list-unstyled">
        <li class= "border-bottom p-2"><a class="nav-link" [routerLink]="['/cases/' + caseDetails?.id + '/overview']">Overview</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" [routerLink]="['/cases/' + caseDetails?.id + '/organization']">Organization Details</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" [routerLink]="['/cases/' + caseDetails?.id + '/application']">Application</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" [routerLink]="['/cases/' + caseDetails?.id + '/budget']">Budget</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" [routerLink]="['/cases/' + caseDetails?.id + '/assessment']">Assessment</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" [routerLink]="['/cases/' + caseDetails?.id + '/decision']">Decision</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" [routerLink]="['/cases/' + caseDetails?.id + '/history']">History</a></li>
        <li class= "border-bottom p-2"><a class="nav-link" [routerLink]="['/cases/' + caseDetails?.id + '/documents']">Documents</a></li>
      </ul>
    </section>
    <section class="mt-5">
      <div>
        <p>Status: {{caseDetails?.caseStatus?.name}}</p>
        <p>Decision Type: {{caseDetails?.caseDecisionType?.name}}</p>
      </div>
    </section>
  </div>
</aside>
