<div class="container bg-dark-subtle text-dark mt-5 mb-5 pb-2 rounded-1">
<h2 class="p-2">Case Overview </h2>
  <hr>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Case</h5>
    <p>{{caseDetails?.id}}</p>
    <p>{{caseDetails?.name}}</p>
  </div>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Organization</h5>
    <p>{{caseDetails?.organization?.id}}</p>
    <p>{{caseDetails?.organization?.name}}</p>
  </div>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Application</h5>
    <p>{{caseDetails?.caseApplication?.submission_date}}</p>
    <p>Signed by: Add this later :) </p>
  </div>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Assessment</h5>
    <p>Latest assessment: {{caseDetails?.caseAssessment?.assessmentDate}}</p>
    <p>Performed by: {{currentCaseManager?.name}}</p>
  </div>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Budget</h5>
    <p>Total budget: {{getTotalBudget()}}</p>
    <p>Controlled by: {{currentCaseManager?.name}}</p>
  </div>
</div>


<div class="container bg-dark-subtle text-dark mt-5 mb-5 pb-2 rounded-1">
  <h2 class="p-2">Case Assignment</h2>
  <hr>
  <h4 class="pb-3">Case Manager</h4>
  <select class="form-select" aria-label="case manager select">
    <option selected>{{currentCaseManager?.name}}</option>
    <option *ngFor="let casemanager of caseManagerList" value="{{casemanager.id}}">{{casemanager.name}}</option>
  </select>

<hr>
  <h4 class="pb-3">Case Controller</h4>
  <select class="form-select" aria-label="case manager select">
    <option selected>{{currentCaseManager?.name}}</option>
    <option *ngFor="let casemanager of caseManagerList" value="{{casemanager.id}}">{{casemanager.name}}</option>
  </select>
  <a href="#" class="btn btn btn-secondary col-1 mt-2">Save</a>
</div>


