<header class="">
  <nav class="navbar navbar-expand-sm text-bg-dark border-bottom">
    <div class="container">
      <a href="#" class="nav-link text-light">Case Manager: Sustainable Sally</a>
      <a [routerLink]="['/overview']"  class="text-light nav-link">Case: 234566</a>
      <ul class="list-unstyled">
        <li class="item">
        <a [routerLink]="['/overview']"  class="text-light nav-link">Company: Sustainability AB</a>
        </li>
        <li>
          <a [routerLink]="['/overview']"  class="text-light nav-link">Organization number: 5555555</a>
        </li>
      </ul>
      <a [routerLink]="['/overview']"  class="btn bg-gradient text-light">Logout</a>
    </div>
  </nav>
</header>
